<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>audio recorder cz</title>
</head>
<body>
	<div id="content" style="width: 1440; height: 3200;">
		<input type="button" id="start" value="开始录音"/><audio id="audio" controls></audio>
		<br>
		<progress id="progressBar" value="0" max="100"></progress>
		<br /><br />
		性别：<input name ="gender" type ="radio" value = "1" >男&nbsp;
			<input name ="gender" type ="radio" value = "0" >女
		<br><br />
		年龄：<input type="text" name="age" id="age" value=""/>
		<br />
		<p>--症状--</p>
		<br>
		病症：<input type="text" name="disease" id="disease" value="输入您的症状,如果健康则填 0 或 健康"/>
		<br /><br />
		是否抽烟：<input name ="issmoking" type ="radio"   value = "1" >是&nbsp;
			<input name ="issmoking" type ="radio"   value = "0" >否
		<br><br />
		发热：<input name ="isfever" type ="radio"   value = "1" >是&nbsp;
			<input name ="isfever" type ="radio"   value = "0" >否
		<br><br />
		<button><input type="submit" id="submit_table" name="" onclick="feath_data()"/></button>
	</div>
    <script type="text/javascript">
		
		var formData = new FormData();
		var isubmit = 0;
		var chunks = [];
		
		// var reader = new FileReader();
		if (navigator.mediaDevices.getUserMedia){
			const constraints = {audio: true};
			navigator.mediaDevices.getUserMedia(constraints).then(
				stream => {
					console.log("授权成功!");
					const recordBtn = document.querySelector("#start");
					const mediaRecorder = new MediaRecorder(stream);
					recordBtn.onclick = () => {
						if (mediaRecorder.state === "recording"){
							mediaRecorder.stop();
							console.log(chunks);
							mediaRecorder.onstop = e => {
								var blob = new Blob(chunks, {type: "audio/ogg; codecs=opus"});
								var audioURL = window.URL.createObjectURL(blob);
								const audioSrc = document.querySelector("#audio");
								audioSrc.src = audioURL;
							};
							recordBtn.textContent = "record";
							console.log("录音结束");
							
						}else{
							mediaRecorder.start();
							mediaRecorder.ondataavailable = function(e){
								chunks.push(e.data);
							};
							console.log(chunks);
							console.log("录音中...");
							recordBtn.textContent = "stop";
						}
						console.log("录音器状态：", mediaRecorder.state);
					};
				}, 
				() => {console.log("授权失败！")}
			);
		}else{
			console.error("浏览器不支持 getUserMedia");
		}

		async function uploadFile(){
			filename_prefix = "temp_chunk_file";
			for(let i=0;i<chunks.length;i++){
				const chunk = chunks[i];
				const formAudio = new FormData();
				formAudio.append('file', chunk);
				formAudio.append('filename', filename_prefix);
				formAudio.append('chunkIndex', i);
				await fetch('/postchunk',{
					method: 'POST',
					body: formAudio,
				}).then((response) => console.log(response.json()));
				const progress = (i / chunks.length) * 100;
				document.getElementById('progressBar').value = progress;
			}
			console.log("分块上传完毕！");
			
			formData.append("sr", 16000);
			formData.append("filename", filename_prefix);
			isubmit = 1;
			merge_data = new FormData();
			merge_data.append("filename", filename_prefix);
			fetch("/merge", {method:'POST', body: merge_data}).then(response=>console.log(response));
			
			chunks = [];
		}
		
		function feath_data(){
			console.log("先上传分块数据。");
			uploadFile();
			console.log("分块上传数据完毕。");
			data = {}
			var submit_message = "";
			var genders = document.getElementsByName('gender');
			// console.log(genders[0].checked+"，"+genders[1].checked);
			if (genders[0].checked == false){
				if (genders[1].checked == false){
					isubmit = 0;
					submit_message += "请选择你的性别。\n";
				}else{
					data['gender'] = 0;
				}
			}else{
				if (genders[1].checked == true){
					isubmit = 0;
					submit_message += "请选择您的生理性别，并且仅选择一个。\n";
				}else{
					data['gender'] = 1;
				};
			}
			data['age'] = parseInt(document.getElementById('age').value);
			if(data['age'] < 0 || data['age'] > 150 || data['age']==''){
				isubmit = 0;
				submit_message += "请正确输入您的年龄，0到150之间的整数值。";
			}
			data['disease'] = document.getElementById('disease').value;
			if(data['disease'] ==''){
				submit = 0;
				submit_message += "请输入您的症状。";
			}
			var issmoking = document.getElementsByName('issmoking');
			// console.log(issmoking[0].checked+"，"+issmoking[1].checked);
			if (issmoking[0].checked == false){
				if (issmoking[1].checked == false){
					isubmit = 0;
					submit_message += "请选择你的抽烟状况。\n";
				}else{
					data['issmoking'] = 0;
				}
			}else{
				if (issmoking[1].checked == true){
					isubmit = 0;
					submit_message += "请选择您的抽烟状况，并且仅选择一个。\n";
				}else{
					data['issmoking'] = 1;
				};
			}
			var isfever = document.getElementsByName('isfever');
			// console.log(isfever[0].checked+"，"+isfever[1].checked);
			if (isfever[0].checked == false){
				if (isfever[1].checked.checked == false){
					isubmit = 0;
					submit_message += "请选择你的发烧状况。\n";
				}else{
					data['isfever'] = 0;
				}
			}else{
				if (isfever[1].checked == true){
					isubmit = 0;
					submit_message += "请选择您的发烧状况，并且仅选择一个。\n";
				}else{
					data['isfever'] = 1;
				};
			}
			console.log(data);
			if (isubmit == 1){
				console.log(submit_message+"填写完成");
				var jsonData = JSON.stringify(data);
				formData.append("jsondata", jsonData)
				console.log(formData);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/test', true);
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var response = JSON.parse(xhr.responseText);
						console.log(response);
					}
				};
				xhr.send(formData);
			}else{
				alert("出错，请重新填写表单："+submit_message);
			}
		}
    </script>
</body>
</html>